:root {
  --primary-color: #FB4F14;
  --secondary-color: #002244;
  --background-color; #FFFFFF;
  --text-color: #212121;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a, h1, h2, h3 {
  color: var(--primary-color);
}

nav a:hover {
  color: var(--secondary-color)
}
