:root {
  --primary-color: #FB4F14;
  --secondary-color: #002244;
  --background-color: #FFFFFF;
  --text-color: #212121;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.page-header .project-name,
.page-header .project-tagline {
  color: var(--primary-color) !important;
  background: var(--background-color)
}

.main-content h1,
.main-content h2,
.main-content h3 {
  color: var(--secondary-color)!important; 
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.main-content h1 {
  text-align: center;
}

.main-content p:first-of-type {
  white-space: nowrap;
  text-align: center;
  margin-bottom: 1rem;
}


a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: var(--secondary-color)
}
