:root {
  --primary-color: #FB4F14;
  --secondary-color: #002244;
  --background-color: #FFFFFF;
  --text-color: #212121;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.page-header .project-name,
.page-header .project-tagline {
  color: var(--primary-color) !important; /* Broncos Navy */
}


h1, h2, h3 {
  color: var(--primary-color);
}

h3 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.page-header {
  background: #002244;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: var(--secondary-color)
}
