:root {
  --primary-color: #FB4F14;
  --secondary-color: #002244;
  --background-color: #FFFFFF;
  --text-color: #212121;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a, h1, h2, h3 {
  color: var(--primary-color);
}

h3 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.page-header {
  background: #002244;
}

nav a:hover {
  color: var(--secondary-color)
}
